
.hero {
    display: grid;
    justify-items: center;
    align-items: center;
}

.button {
    width: 220px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: green;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    padding: 10px;
    margin: 20px;
}
.header {
    list-style: none;
    width: fill;
    font-size: 90px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px, 60px;
    color: white;
    align-self: center;
    display: inline-block;
    margin: 70px;
}
.semiHeader {
    list-style: none;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: black;
    border-radius: 5px;
    align-self: center;
    padding: 10px, 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.smallHeader {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: black;
    border-radius: 5px;
    align-self: center;
    padding: 10px, 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.longText {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    color: gray;
    border-radius: 5px;
    padding: 10px, 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.margin80 {
    margin: 80;
}
.text-center{
    text-align: center;
}

body, html {
    height: 100%;
}
* {
    box-sizing: border-box;
}

.soccerImage {
    background-image: url("images/soccer.jpg");
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/
    /* Full height */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.iconImage {
    background-image: url("images/icon.jpg");
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/
    /* Full height */
    width: 100%;                            
    height: 200pX;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}